In [4]:
from main import get_week

In [5]:
df_shifts, df_partners = get_week()

In [6]:
display(df_shifts.head())
display(df_partners.head())

   delivery_area_id                date  orders_cnt  partners_cnt
0                 0 2021-12-01 08:00:00         0.0           0.0
1                 0 2021-12-01 09:00:00         0.0           0.0
2                 0 2021-12-01 10:00:00        22.0          14.0
3                 0 2021-12-01 11:00:00        13.0           8.0
4                 0 2021-12-01 12:00:00        11.0           6.0

   delivery_area_id    shift_start_date      shift_end_date
0                 0 2021-12-01 08:00:00 2021-12-01 12:00:00
1                 0 2021-12-01 08:00:00 2021-12-01 12:00:00
2                 0 2021-12-01 08:00:00 2021-12-01 12:00:00
3                 0 2021-12-01 08:00:00 2021-12-01 12:00:00
4                 0 2021-12-01 08:00:00 2021-12-01 12:00:00